<div class="containers">
  <app-header></app-header>
    <div id="main-content">
      <section class="projects pt-130 mb-60">
        <div class="container">
          <div class="row">
            <div class="section-head col-md-12 text-center animate-box fadeInUp animated" data-animate-effect="fadeInUp">
              <h4>Pricing Plan</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4" *ngFor="let price of priceList">
              <div class="price-box animate-box fadeInUp animated" data-animate-effect="fadeInUp">
                <div class="price-box-inner img-grayscale" style="background-image: url(../../../../assets/images/price/1.jpg)">
                  <ul>
                    <li class="pricing-title">
                      <h3 class="pricing-pt-title">{{price?.title}}</h3>
                    </li>
                    <li class="pricing-prices"> <sup class="pricing-dolar">$</sup> <span class="pricing-price">{{price?.price}}</span> </li>
                    <li class="pricing-content">
                      <ul>
                        <li>{{price?.description}}</li>
                        <li>Photo Editing</li>
                        <li>50 Digital Images</li>
                        <li>Online Gallery</li>
                      </ul>
                    </li>
                  </ul>
                  <div class="button-plan mt-4">
                    <button mat-raised-button class="plan-buy-btn" (click)="buyPlan(price)">Buy</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-4">
              <div class="price-box animate-box fadeInUp animated" data-animate-effect="fadeInUp">
                <div class="price-box-inner" style="background-image: url(../../../../assets/images/price/2.jpg)">
                  <ul>
                    <li class="pricing-title">
                      <h3 class="pricing-pt-title">{{priceList[0]?.title}}</h3>
                    </li>
                    <li class="pricing-prices"> <sup class="pricing-dolar">$</sup> <span class="pricing-price">{{priceList[0]?.price}}</span> </li>
                    <li class="pricing-content">
                      <ul>
                        <li>{{priceList[0]?.description}}</li>
                        <li>Photo Editing</li>
                        <li>100 Digital Images</li>
                        <li>Online Gallery</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div> -->
            <!-- <div class="col-md-4">
              <div class="price-box animate-box fadeInUp animated" data-animate-effect="fadeInUp">
                <div class="price-box-inner" style="background-image: url(../../../../assets/images/price/3.jpg)">
                  <ul>
                    <li class="pricing-title">
                      <h3 class="pricing-pt-title">Platinum</h3>
                    </li>
                    <li class="pricing-prices"> <sup class="pricing-dolar">$</sup> <span class="pricing-price">750</span> </li>
                    <li class="pricing-content">
                      <ul>
                        <li>12 Hours Session</li>
                        <li>Photo Editing</li>
                        <li>250 Digital Images</li>
                        <li>Online Gallery</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </section>
    </div>
  <app-footer></app-footer>
</div>
