<footer>
  <div class="container pozo-footer-container">
      <div class="row">
          <div class="col-md-8">
              <ul class="pozo-social-icons">
                  <li class="pozo-social-icons-item">
                      <a class="pozo-social-link" href="index.html#"> <i class="fa-brands fa-facebook-f pozo-social-icon"></i> </a>
                  </li>
                  <li class="pozo-social-icons-item">
                      <a class="pozo-social-link" href="index.html#"> <i class="fa-brands fa-twitter pozo-social-icon"></i> </a>
                  </li>
                  <li class="pozo-social-icons-item">
                      <a class="pozo-social-link" href="index.html#"> <i class="fa-brands fa-instagram pozo-social-icon"></i> </a>
                  </li>
                  <li class="pozo-social-icons-item">
                      <a class="pozo-social-link" href="index.html#"> <i class="fa-brands fa-behance pozo-social-icon"></i> </a>
                  </li>
              </ul>
          </div>
          <div class="col-md-4">
              <p class="pozo-copyright">© 2023 <span>DEEP</span> All right reserved.</p>
          </div>
      </div>
  </div>
</footer>
