<div class="containers p-3">
    <div id="main-content">
      <section class="projects mb-60">
        <div class="container">
          <div class="row">
            <div class="dialog-header d-flex justify-content-between align-items-center w-100 pb-2">
              <h2 mat-dialog-title class="mb-0 buyplan-text">Buy Plan</h2>
              <span class="mat-close-x" [mat-dialog-close]="false" cdkFocusInitial><i class="fa-regular fa-circle-xmark"></i></span>
            </div>
            <mat-dialog-content class="mat-typography">
            <div class="text-center col-lg-11 col-md-11 col-sm-12 col-12 m-auto">
              <form [formGroup]="paymenyForm">
                <div>
                  <!-- <h4 class="text-left d-flex align-items-center"><i class="fa-brands fa-bitcoin bitcoin-color pr-2"></i><b>Bitcoin</b></h4> -->
                  <div class="amount-bit pb-3">
                    <p class="pay-title">Amount</p>
                    <h1>{{priceData.price | currency:'USD':true }}</h1>
                  </div>
                  <div class="row">
                  <div class="amount-bit col-sm-6 pt-3 pb-3">
                    <p class="pay-title">BTC</p>
                    <h1>{{btcPrice  | number:'1.0-7'  }}</h1>
                  </div>
                  <div class="amount-bit col-sm-6 pt-3 pb-3">
                    <p class="pay-title">ETH</p>
                    <h1>{{ethPrice |number:'1.0-7' }}</h1>
                  </div>
                  </div>
                  <div class="pay-input amount-bit pb-3 pt-3">
                    <p class="pay-title">Address</p>
                    <span>Please deposit the payment follow the address and submit the payment request</span>
                    <div class="input-container">
                      <i class="fa-brands fa-bitcoin icon"></i>
                      <input type="text" readonly="true" class="input-styles" formControlName="address">
                    </div>
                  </div>
                  <div class="pay-input pt-3">
                    <p class="pay-title">Blockchain</p>
                    <div class="input-container">
                      <i class="fa-brands fa-bitcoin icon"></i>
                      <select type="text" class="input-styles" formControlName="blockchain">
                        <option value="ethereum">ETH</option>
                        <option value="bitcoin">BTC</option>
                      </select>
                    </div>
                  </div>
                  <div class="pay-input pt-3">
                    <p class="pay-title">Transaction ID</p>
                    <div class="input-container">
                      <i class="fa-brands fa-bitcoin icon"></i>
                      <input type="text"  class="input-styles" formControlName="transactionId">
                    </div>
                    <mat-error *ngIf="hasError('transactionId', 'required')">Please enter transaction Id.</mat-error>
                  </div>
                  <div class="pt-4">
                    <button type="button" mat-raised-button class="login-btn" (click)="payment()">Verify the payment</button>
                  </div>
                </div>
              </form>
            </div>
          </mat-dialog-content>
          </div>
        </div>
      </section>
    </div>
</div>
