<div class="containers">
  <app-header></app-header>
  <div id="main-content">
    <section class="projects pt-130 mb-60">
      <div class="container">
        <div class="row mb-3">
          <div class="header">
            <h5>Transaction</h5>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col-md-12">
            <div class="mat-elevation-z8">
              <table
                mat-table
                [dataSource]="dataSource"
                matSort
                class="dark-theme"
              >
                <!-- ID Column -->
                <ng-container matColumnDef="Title">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
                  <td mat-cell *matCellDef="let row">{{ row.title }}</td>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="Network">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Network </th>
                  <td mat-cell *matCellDef="let row">{{ row.network }}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="Block Chain">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Block Chain</th>
                  <td mat-cell *matCellDef="let row">{{ row.blockchain }}</td>
                </ng-container>

                <ng-container matColumnDef="Coin Price">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Coin Price</th>
                  <td mat-cell *matCellDef="let row">{{ row.coinPrice }}</td>
                </ng-container>

                <ng-container matColumnDef="Price">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
                  <td mat-cell *matCellDef="let row">{{ row.price }}</td>
                </ng-container>

                <ng-container matColumnDef="Description">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                  <td mat-cell *matCellDef="let row">{{ row.description }}</td>
                </ng-container>

                <!-- Fruit Column -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                  <td mat-cell *matCellDef="let row">
                    <button mat-stroked-button><b>Verify</b></button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

              </table>

              <mat-paginator [pageSizeOptions]="[25, 50, 100, 200]" aria-label="Select page of users" ></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <app-footer></app-footer>
</div>
