<div class="containers">
  <app-header></app-header>
    <div id="main-content">
      <section class="services pt-130">
        <div class="container">
          <!-- <div class="row">
            <div class="section-head col-md-12 text-center animate-box fadeInUp animated" data-animate-effect="fadeInUp">
              <h4>Profile</h4>
            </div>
          </div> -->
          <div class="row">
            <div class="d-flex align-items-center justify-content-center main-divition col-lg-6 col-md-6 col-sm-12 col-12">
              <img class="w-100" src="../../../../assets/images/about.jpg" alt="Form Image">
            </div>
            <div class="d-flex align-items-center justify-content-center main-divition col-lg-6 col-md-6 col-sm-12 col-12">
              <form [formGroup]="changePasswordForm" class="form-divition auth-forms">
                <div class="form-group ">
                  <p class="lead text-left Login-text">Change Password</p>
                </div>
                <mat-form-field  class="w-100">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" formControlName="password" required [type]="hide ? 'password' : 'text'" autocomplete="off">
                  <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="hasError('password', 'required')">Please enter your password.</mat-error>
                  <mat-error *ngIf="hasError('password', 'serverError')">{{changePasswordForm.controls['password'].errors.message}}</mat-error>
                </mat-form-field>

                <mat-form-field  class="w-100">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" formControlName="confirmPassword" required [type]="hide1 ? 'password' : 'text'" autocomplete="off">
                  <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                    <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="hasError('confirmPassword', 'required')">Please enter your confirm password.</mat-error>
                  <!-- <mat-error *ngIf="hasError('password', 'pattern')">Password must contain (1) Uppercase character, (1) special character, (1) number, it should be 8 characters and more!</mat-error>
                  <mat-error *ngIf="hasError('password', 'maxlength')">Password must be less than20 characters!</mat-error> -->
                  <mat-error *ngIf="hasError('confirmPassword', 'serverError')">{{changePasswordForm.controls['confirmPassword'].errors.message}}</mat-error>
                </mat-form-field>

                <div class="pt-3">
                  <button mat-raised-button class="login-btn" (click)="changePassword()">Change Password</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  <app-footer></app-footer>
</div>
