<div class="container p-0 bg-maincolor">
  <div class="row justify-content-center mx-0" style="height: 100vhs;">
    <div class="col-lg-12 col-md-12 col-sm-12 m-auto form-card">
      <div class="row">
        <div class="d-flex align-items-center justify-content-center main-divition col-lg-6 col-md-6 col-sm-12 col-12">
          <img class="w-100" src="../../../../assets/images/about.jpg" alt="Form Image">
        </div>
        <div class="d-flex align-items-center justify-content-center main-divition col-lg-6 col-md-6 col-sm-12 col-12">
          <form [formGroup]="resetForm" class="form-divition auth-forms">
            <div class="form-group ">
              <p class="lead text-left Login-text">Reset Password</p>
            </div>
            <mat-form-field  class="w-100">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email" required autocomplete="off">
              <mat-error *ngIf="hasError('email', 'required')">Please enter your account email.</mat-error>
              <mat-error *ngIf="hasError('email', 'serverError')">{{resetForm.controls['email'].errors.message}}</mat-error>
            </mat-form-field>

            <mat-form-field  class="w-100">
              <mat-label>Email Verification Code</mat-label>
              <input matInput type="text" formControlName="token" required autocomplete="off">
              <mat-error *ngIf="hasError('token', 'required')">Please enter your Email Verification Code.</mat-error>
              <mat-error *ngIf="hasError('token', 'serverError')">{{resetForm.controls['token'].errors.message}}</mat-error>
            </mat-form-field>

            <mat-form-field  class="w-100">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" required [type]="hide ? 'password' : 'text'" autocomplete="off">
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="hasError('password', 'required')">Please enter your password.</mat-error>
              <!-- <mat-error *ngIf="hasError('password', 'pattern')">Password must contain (1) Uppercase character, (1) special character, (1) number, it should be 8 characters and more!</mat-error>
              <mat-error *ngIf="hasError('password', 'maxlength')">Password must be less than20 characters!</mat-error>
              <mat-error *ngIf="hasError('password', 'serverError')">{{resetForm.controls['password'].errors.message}}</mat-error> -->
            </mat-form-field>

            <mat-form-field  class="w-100 pt-3">
              <mat-label>Confirm Password</mat-label>
              <input matInput type="password" formControlName="confirmPassword" required [type]="hide1 ? 'password' : 'text'" autocomplete="off">
              <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="hasError('confirmPassword', 'required')">Please enter your confirm password.</mat-error>
              <!-- <mat-error *ngIf="hasError('confirmPassword', 'pattern')">Password must contain (1) Uppercase character, (1) special character, (1) number, it should be 8 characters and more!</mat-error>
              <mat-error *ngIf="hasError('confirmPassword', 'maxlength')">Password must be less than20 characters!</mat-error>
              <mat-error *ngIf="hasError('confirmPassword', 'serverError')">{{resetForm.controls['confirmPassword'].errors.message}}</mat-error> -->
              <mat-error *ngIf="resetForm.errors?.passwordMismatch">Passwords do not match.</mat-error>
            </mat-form-field>

            <div class="register-nxt text-right pb-3 pt-2">
              <a routerLink="/auth/login" class="">Back to Login</a>
            </div>

            <div class="pt-3">
              <button mat-raised-button class="login-btn" (click)="resetPassword()">Reset Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
