<div class="containers">
  <app-header></app-header>
  <div id="main-content">
    <section class="services pt-130">
      <div class="container">
        <div class="row">
            <div class="section-head col-md-12 text-center animate-box fadeInUp animated" data-animate-effect="fadeInUp">
                <h4>Uploads</h4>
            </div>
            <div class="col-md-4 mb-40 animate-box fadeInUp animated" data-animate-effect="fadeInUp">
                <div class="item bg-2">
                    <div class="con">
                        <div class="numb">01</div>
                        <h5>Wedding Shots</h5>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam sed faucibus sem the drana.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-40 animate-box fadeInUp animated" data-animate-effect="fadeInUp">
                <div class="item bg-6">
                    <div class="con">
                        <div class="numb">02</div>
                        <h5>Portrait Photography</h5>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam sed faucibus sem the drana.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-40 animate-box fadeInUp animated" data-animate-effect="fadeInUp">
                <div class="item bg-5">
                    <div class="con">
                        <div class="numb">03</div>
                        <h5>Travel Photography</h5>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam sed faucibus sem the drana.</p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-4 mb-40 animate-box fadeInUp animated" data-animate-effect="fadeInUp">
                <div class="item bg-4">
                    <div class="con">
                        <div class="numb">04</div>
                        <h5>Product Photography</h5>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam sed faucibus sem the drana.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-40 animate-box fadeInUp animated" data-animate-effect="fadeInUp">
                <div class="item bg-1">
                    <div class="con">
                        <div class="numb">05</div>
                        <h5>Fashion Photography</h5>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam sed faucibus sem the drana.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-40 animate-box fadeInUp animated" data-animate-effect="fadeInUp">
                <div class="item bg-3">
                    <div class="con">
                        <div class="numb">06</div>
                        <h5>Sport Photography</h5>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam sed faucibus sem the drana.</p>
                    </div>
                </div>
            </div> -->
            <div class="section-button col-md-12 text-center mt-5 mb-40">
              <button class="upload-btn" mat-button (click)="upload()"><i class="fas fa-cloud-upload pr-2"></i> Upload your image</button>
            </div>
         </div>
      </div>
    </section>
  </div>
  <app-footer></app-footer>
</div>
