<div class="containers">
  <app-header></app-header>
  <div id="main-content">
    <section class="projects pt-130 mb-60">
      <div class="container">
        <div class="row mb-3">
          <div class="col-md-12">
            <div class="header d-flex justify-content-between align-items-center w--100">
              <h3 class="pricing-title">Pricing</h3>
            </div>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col-md-12">
            <!-- <ng-container >
              <ng-container *ngIf="userList?.length > 0; else noRecords"> -->
                <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="dataSource" matSort class="dark-theme" >

                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                      <td mat-cell *matCellDef="let row; let i = index;">{{ i + 1 }}</td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                      <td mat-cell *matCellDef="let row">{{ row?.email ? row.email : '-' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="role">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
                      <td mat-cell *matCellDef="let row">{{ row?.role ? row.role : '-' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                      <td mat-cell *matCellDef="let row">
                        <button mat-stroked-button (click)="blockUser(row)"><b>Block</b></button>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns" ></tr>
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell " colspan="10">No data available</td>
                    </tr>

                  </table>

                  <mat-paginator [pageSizeOptions]="[25, 50, 100, 200]" aria-label="Select page of users" ></mat-paginator>

                </div>
              <!-- </ng-container>
              <ng-template #noRecords>
                <div class="col-md-12 text-center py-4">
                  <h3>There are no items to display!</h3>
                </div>
              </ng-template>
            </ng-container> -->
          </div>
        </div>
      </div>
    </section>
  </div>
  <app-footer></app-footer>
</div>
