<div class="containers p-3">
  <div id="main-content">
    <section class="projects mb-60">
      <div class="container" style="overflow: hidden;">
        <div class="d-flex justify-content-between align-items-center w-100 pb-4">
          <h2 class="upload-image">Upload Image</h2>
          <span class="mat-close-x" [mat-dialog-close]="false" cdkFocusInitial><i class="fa-regular fa-circle-xmark"></i></span>
        </div>
        <input #Image type="file" (change)="handleFileInput($event.target)" class="pb-3"/>
        <div class="w-100" style="overflow: hidden;">
          <img width="100%" *ngIf="imageUrl" [src]="imageUrl" [style.transform]="'scale(' + zoom + ')'" class="image" style="overflow: hidden;" />
        </div>
        <div class="zoom-control" *ngIf="imageUrl">
          <label for="zoom-range">Zoom:</label>
          <input type="range" id="zoom-range" [(ngModel)]="zoom" min="1" max="3" step="0.1" />
        </div>
      </div>
    </section>
  </div>
</div>
