.pt-130 {
  padding-top: 130px;
}
.mb-60 {
  margin-bottom: 60px;
}
.no_data_field{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.view-image{
  cursor: pointer;
}
.pricing-title{
  color: #9c5451;
}
.fa-close
{
  color:red;
  font-size:40px;
  float: right;
  position: absolute;
  right:10px;
  top:2px;
  cursor:pointer;
}
